/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 1.25;
  background-color: #ffffff;
}

/* container style */
.container {
  width: 100%;
  margin: 0 auto;
}

/* header style start */
header {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0.5rem 4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.site-name a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.site-name a img {
  height: auto;
  width: 100px;
}

/* navbar style */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-bar li {
  margin: 0 10px;
}

.nav-bar a {
  position: relative;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.nav-bar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 4px;
  background-color: #000000;
  transition: width 0.3s ease;
}

.nav-bar a:hover::after {
  width: 100%;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  width: 30px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #000000;
  position: absolute;
  transition: all 0.3s ease;
}

.menu-icon span:nth-child(1) {
  top: 0px;
}

.menu-icon span:nth-child(2) {
  top: 10px;
}

.menu-icon span:nth-child(3) {
  top: 20px;
}

/* Main div design */

main {
  margin-top: 115px;
}

.hero {
  background: url("../images/restaurant.jpg") no-repeat center center/cover;
  color: #fff;
  text-align: center;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  background: rgba(0, 0, 0, 0.65);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

.hero p {
  font-size: 26px;
  font-weight: 600;
  padding: 2rem 10rem;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

.cta-btn {
  padding: 10px 20px;
  background: #ffffff;
  color: #000000;
  border: 2px solid #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  transition: background 0.3s;
}

.cta-btn:hover {
  background: transparent;
  color: #ffffff;
}

/* Menu Section */
.menu {
  padding: 4rem 5rem;
  background: #000000;
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 3rem;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 2rem;
  row-gap: 4rem;
  align-items: center;
  justify-items: center;
}

.menu-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: left;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.menu-card:hover {
  transform: scale(1.05);
}

.menu-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.menu-card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
}

.menu-card p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  padding: 0rem 1.5rem;
}

.price {
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  color: #ff0000 !important;
  padding: 0.5rem 1.5rem 1rem 1.5rem !important;
}

/* Services Section */
.services {  
  padding: 4rem 5rem;
  background: #ffffff;
}

.services h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 3rem;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 2rem;
  row-gap: 4rem;
  align-items: center;
  justify-items: center;
}

.service {
  background: #000000;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: left;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.service:hover {
  transform: scale(1.05);
}


.service img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.service h3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 2rem;
}

.service p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0rem 2rem 1.5rem 2rem;
}

/* About Section */
.about {
  padding: 50px 20px;
  background: #f8f8f8;
  text-align: center;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.about-container img {
  max-width: 100%;
  border-radius: 10px;
  width: 400px;
}

.about-text {
  flex: 1;
  font-size: 1.2rem;
  line-height: 1.8;
}

/* Testimonials Section */
.testimonials {
  background: #f4a261;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.testimonials-container blockquote {
  font-style: italic;
  margin: 20px 0;
  padding: 10px;
  border-left: 4px solid #fff;
}

/* Contact Preview Section */
.contact-preview {
  padding: 50px 20px;
  background: #333;
  color: #fff;
  text-align: center;
}

/* Media query for responsiveness */

/* For screens from 992px */
@media (max-width: 992px) {
  .nav-bar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }

  .nav-bar ul.show {
    display: flex;
  }

  .nav-bar li {
    margin: 10px 0;
    text-align: left;
    padding-left: 4rem;
  }

  .nav-bar ul:last-child {
    padding-bottom: 0.8rem;
  }

  .menu-icon {
    display: block;
  }

  .nav-bar {
    display: contents;
  }

  .menu-toggle:checked + .menu-icon span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
  }

  .menu-toggle:checked + .menu-icon span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle:checked + .menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
  }

  .menu-toggle:checked + .menu-icon + .nav-bar ul {
    display: flex;
  }

  .menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}

  .menu-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* For screens from 768px */
@media (max-width: 768px) {
  .about-container,
  .services-container,
  .menu-container {
    flex-direction: column;
    align-items: center;
  }

  .menu-card {
    width: 90%;
  }
}

@media (max-width: 560px){
  .hero h1 {
    font-size: 32px;
    font-weight: 900;
    margin: 0;
  }
  
  .hero p {
    font-size: 24px;
    font-weight: 500;
    padding: 2rem;
  }

  .menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }  
}

/* For screens from 480px */
@media (max-width: 480px) {
  header {
    padding: 1.5rem 1rem;
  }

  .site-name a {
    font-size: 22px;
  }

  .site-name a img {
    height: auto;
    width: 60px;
  }

  .nav-bar li {
    padding-left: 1rem;
  }
}
